%section.row
  .cell.well.well--l
    Sign in with:
    - if ENV['GOOGLE_KEY'].present? && ENV['GOOGLE_SECRET'].present?
      = link_to omniauth_path('google_oauth2'), class: 'btn btn--b btn--oauth-provider btn--google' do
        %span= image_tag 'g-logo.png'
        Google
    - if ENV['GITHUB_CLIENT_ID'].present? && ENV['GITHUB_SECRET'].present?
      = link_to omniauth_path('github'), class: 'btn btn--b btn--oauth-provider btn--github' do
        %span= image_tag 'github-logo.png'
        GitHub
    - if ENV['GITLAB_APPLICATION_ID'].present? && ENV['GITLAB_SECRET'].present?
      = link_to omniauth_path('gitlab'), class: 'btn btn--b btn--oauth-provider btn--gitlab' do
        %span= image_tag 'gitlab-logo.png'
        GitLab
