%li.card{ 'data-ui-component' => 'article' }
  = article.freshness
  = article.staleness
  = article.rottenness
  = link_to article.title, article
  %ul.list.list--inline{ 'data-ui-component' => 'tags' }
    - article.tags.each do |t|
      %li.list-item= link_to t.name, tag_path(t)
