- tags = content_tag_for(:li, article.tags){ |t| link_to t.name, tag_path(t) }

%li.article
  = article.freshness
  = article.staleness
  = article.rottenness
  = link_to "#{article.title}", article
  %ul.tags
    = tags.html_safe
