- css_classes = current_action?(name, "button signal--#{name}")
- url = send("#{name}_articles_path")

= link_to "#{name.titleize}", url, title: "#{definition}", class: "#{css_classes}", data: { toggle: 'tooltip', placement: 'top' }
