- alternative_content ||= false
- hide_results ||= false

- form_path = request.path == ('/') ? articles_path : request.path

.js-search
  .split.mbm
    .split-cell.form.form--inline.mbf
      = form_tag form_path, method: :get, remote: true, class: 'js-search-form' do
        = search_field_tag :search, params[:search],
          class: 'form-input js-search-input',
          placeholder: "Search articles by title",
          data: { shortcut: 's' },
          autofocus: true

    .split-cell.mls.prs
      = render partial: 'articles/filter_link', locals: { name: 'fresh', definition: Article::FRESHNESS }
      = render partial: 'articles/filter_link', locals: { name: 'stale', definition: Article::STALENESS }
      = render partial: 'articles/filter_link', locals: { name: 'outdated', definition: Article::OUTDATEDNESS }

    .split-cell.pls.bdrl
      = render partial: 'articles/filter_link', locals: { name: 'popular', definition: Article::POPULARITY }
      = render partial: 'articles/filter_link', locals: { name: 'archived', definition: Article::ARCHIVAL }

  %ul.list.list--xs.js-search-results{ class: ( 'hide-results dn' if hide_results) }
    = render @articles unless hide_results
    - if @articles&.empty?
      %p There are no #{action_name} articles.

  - if alternative_content
    .js-search-alternate
      = yield
