- alternateContent ||= false
- hideResults      ||= false

- form_path = request.path == ('/') ? articles_path : request.path

.js-search
  .split.mbm
    .split-cell.form.form--inline.mbf
      = form_tag form_path, method: :get, remote: true, class: 'js-search-form' do
        = search_field_tag :search, params[:search],
          class: 'form-input js-search-input',
          placeholder: "Search #{ @articles.count } articles by title",
          data: { shortcut: 's' }

    .split-cell.mls.prs
      = render partial: 'articles/filter_link', locals: { name: 'fresh', definition: Article::FRESHNESS }
      = render partial: 'articles/filter_link', locals: { name: 'stale', definition: Article::STALENESS }
      = render partial: 'articles/filter_link', locals: { name: 'rotten', definition: Article::ROTTENNESS }

    .split-cell.pls.bdrl
      = render partial: 'articles/filter_link', locals: { name: 'popular', definition: Article::POPULARITY }
      = render partial: 'articles/filter_link', locals: { name: 'archived', definition: Article::ARCHIVAL }

  %ul.list.list--xs.js-search-results{ class: ( 'hide-results dn' if hideResults) }
    = render @articles

  - if alternateContent
    .js-search-alternate
      = yield
