%h1 Articles
.search-bar
  = form_tag articles_path, method: :get, remote: true do
    = text_field_tag :search, params[:search]
    = submit_tag "Search", class: "btn-a"

%ul.article-list
  = render @articles

= link_to "New Article", new_article_path, class: "btn-a"