%main.row
  .cell.well.well--l

    - if user_signed_in?
      .g
        %main.g-b.g-b--2of3
          .split.search-bar.mbm
            .split-item
              .split-cell.split-cell--fluid
                = form_tag articles_path, method: :get, remote: true do
                  = search_field_tag :search, params[:search], placeholder: "Search articles by keyword"
              .split-cell.split-cell--fixed
                = link_to "New Article", new_article_url, class: 'btn btn--a'
          %ul.list.js-article-list
            = render @articles

        %aside.g-b.g-b--1of3
          = render "tags/tag_categories", tags: @tags

          = link_to "Archived Articles (#{Article.archived.count})", archived_articles_path

    - else
      %h1
        = link_to "Please Log in to Continue", login_path, data: { no_turbolink: true }
