%main.row
  .cell.well.well--l
    .js-search
      .split
        .split-cell.form.form--inline
          = form_tag articles_path, method: :get, remote: true, class: 'js-search-form' do
            = search_field_tag :search, params[:search],
              class: 'form-input js-search-input',
              placeholder: 'Search articles by keyword',
              autofocus: true
        .split-cell.mlxs
          = link_to "Fresh", fresh_articles_path, class: "btn #{action_name == 'fresh' ? 'btn--b' : ''}"
          = link_to "Stale", stale_articles_path, class: "btn #{action_name == 'stale' ? 'btn--b' : ''}"
          = link_to "Rotten", rotten_articles_path, class: "btn #{action_name == 'rotten' ? 'btn--b' : ''}"

      %ul.list.list--xs.js-search-results
        = render @articles
