%main.row
  .cell.well.well--l

    - if user_signed_in?
      .g
        %main.g-b.g-b--2of3
          .search-bar
            = form_tag articles_path, method: :get, remote: true do
              = text_field_tag :search, params[:search], placeholder: "Search articles by keyword", autofocus: true
              = submit_tag "Search", class: "btn-a"

          %ul.list
            = render @articles

        %aside.g-b.g-b--1of3
          = render "tags/tag_categories", tags: @tags

        = link_to "Archived Articles (#{Article.archived.count})", archived_articles_path

    - else
      %h1
        = link_to "Please Log in to Continue", login_path, data: { no_turbolink: true }
