%main.row
  .cell.well.well--l
    .js-search
      .split
        .split-cell.form.form--inline
          = form_tag articles_path, method: :get, remote: true, class: 'js-search-form' do
            = search_field_tag :search, params[:search],
              class: 'form-input js-search-input',
              placeholder: "Search #{@articles.count} articles by keyword",
              autofocus: true
        .split-cell.mls.prs
          = render partial: "filter_link", locals: { name: "fresh", definition: Article::FRESHNESS }
          = render partial: "filter_link", locals: { name: "stale", definition: Article::STALENESS }
          = render partial: "filter_link", locals: { name: "rotten", definition: Article::ROTTENNESS }

        .split-cell.pls.bdrl
          = render partial: "filter_link", locals: { name: "popular", definition: Article::POPULARITY }
          = render partial: "filter_link", locals: { name: "archived", definition: Article::ARCHIVAL }

      %ul.list.list--xs.js-search-results
        = render @articles

    .split.mtm.mbm.fr
      .split-cell
        = link_to "Article Subscriptions", subscriptions_path, class: "btn btn--b mls"
        = link_to "Article Endorsements", endorsements_path, class: "btn btn--b mls"
