%main.row
  .cell.well.well--l

    - if user_signed_in?
      .g
        %main.g-b.g-b--m--2of3
          .split.mbm
            .form.form--inline.split-item
              .split-cell.prm
                = render "search"
              .split-cell
                = link_to "New Article", new_article_url, class: 'btn btn--a form-btn'
          %ul.list.js-article-list
            = render @articles

        %aside.g-b.g-b--m--1of3
          = render "tags/tag_categories", tags: @tags

          = link_to "Archived Articles (#{Article.archived.count})", archived_articles_path

    - else
      %h1
        = link_to "Please Log in to Continue", login_path, data: { no_turbolink: true }
