- if @article.archived?
  %p.archived This article has been archived. Please don't trust the information display here.

%aside
  = image_tag @article.author.image
  - if @article.edited? && @article.different_editor?
    = image_tag @article.editor.image
%h1= @article.title
%p.author= @article.authors

.markdown
  = markdown(@article.content || "No content")

%footer
  = render "tags/tags", tags: @article.tags

- if user_signed_in?
  = link_to "Edit", edit_article_url(@article), class: "btn-a"

  - toggle_subscription_label = current_user.subscribed_to?(@article) ? "Unsubscribe" : "Subscribe"
  = link_to "toggle_subscription_label", toggle_subscription_article_url(@article), class: 'btn-a', method: :post

  - toggle_archived_label = !@article.archived? ? "Archive" : "Unarchive"
  = link_to toggle_archived_label, toggle_archived_article_url(@article), class: "btn-b", method: :put

  = link_to "Delete", @article, class: "btn-c", method: :delete
