%h1= @article.title || "No title"

.markdown
  = markdown(@article.content || "No content")

%footer
  - if @article.updated_at.present?
    = "Updated on #{@article.updated_at.in_time_zone.to_s(:long)}"
  - else
    = "Created on #{@article.created_at.in_time_zone.to_s(:long)}"

= link_to "Edit Article", edit_article_url(@article), class: "btn-a"
= link_to "Delete Article", @article, class: "btn-c", method: :delete