%aside= image_tag @article.author.mugshot_url
%h1= @article.title || "No title"
%p.author 
  by #{mail_to @article.author.email, @article.author.name } on #{time_element @article.created_at.in_time_zone} 
  - if @article.editor && @article.updated_at.present?
    - if @article.editor_id != @article.author_id
      and updated by #{mail_to @article.editor.email, @article.editor.name } on #{time_element @article.updated_at.in_time_zone}
    - else
      and updated on #{time_element @article.updated_at.in_time_zone}

.markdown
  = markdown(@article.content || "No content")

%footer
  = render "tags/tags", tags: @article.tags

= link_to "Edit Article", edit_article_url(@article), class: "btn-a"
= link_to "Delete Article", @article, class: "btn-c", method: :delete