- if @article.archived?
  %p.bulletin.bulletin--warning This article has been archived. Please don't trust the information displayed here.
- if @article.rotten?
  %p.bulletin.bulletin--warning This article has gone rotten. The information is partially or completely out-of-date.

%main.row
  .cell.well.well--l

    %article
      %header.mbs
        %h1.tsl.ts--s--xl.ts--m--xxl= @article.title
        .byline
          .byline-main
            .byline-author
              = render partial: 'shared/icon', locals: { icon: 'avatar', middle: true }
              = link_to @article.author, @article.author.link, class: 'label label--link label--link--invert'
            %span.label.label--invert= @article.created_at_tag
          .byline-secondary
            %span.tsi.tss Last edited
            %span.label.label--invert= @article.updated_at_tag

      .g
        %aside.g-b.g-b--m--1of6
          .mbm.mt--m--l
            - if !@article.rotten?
              = link_to "Report Rot", report_rot_article_url(@article), class: "btn btn--b", method: :put

            - if @article.stale? || @article.rotten?
              = link_to "Mark Fresh", mark_fresh_article_url(@article), class: "btn btn--b", method: :put

          = render "tags/tags", tags: @article.tags

        .g-b.g-b--m--4of6
          .card.markdown.mbm.ptl
            = find_and_preserve do
              = markdown(@article.content || "No content")

          - if user_signed_in?
            = link_to "Edit", edit_article_url(@article), class: "btn btn--a"

            - toggle_archived_label = !@article.archived? ? "Archive" : "Unarchive"
            = link_to toggle_archived_label, toggle_archived_article_url(@article), class: "btn btn--b", method: :put

            = link_to "Delete", @article, class: "btn btn--b", method: :delete

        %aside.g-b.g-b--m--1of6
          / TODO(Olivier): Combine %ul and contents into a single partial.
          / TODO(Olivier): Restore original subscription partial (and view, if needed). I had to overwrite it to access the data :(
          / TODO(Olivier): Restore @article.subscriptions to @subscriptions. This works, but I don't know why.
          %ul.list.list--object.mt--m--l
            = render partial: 'subscription', collection: @article.subscriptions
          - toggle_subscription_label = current_user.subscribed_to?(@article) ? 'Unsubscribe' : "Subscribe"
          = link_to toggle_subscription_label, toggle_subscription_article_url(@article), class: 'btn btn--a', method: :put
