- page_title @article.title

- if @article.archived?
  %p.bulletin.bulletin--warning This article has been archived. Please don't trust the information displayed here.
- if @article.rotten?
  %p.bulletin.bulletin--warning This article has gone rotten. The information is partially or completely out-of-date.

- if @article.guide?
  .row.row--highlight.row--pattern
    .cell.well.well--l
      %h1.tci.tac= @article.title

%main.row
  .cell.well.well--l

    %article

      %header.mbl
        - unless @article.guide?
          = render 'tags/tags', tags: @article.tags
          %h1.tsl.ts--s--xl.ts--m--xxl= @article.title

        .byline
          .byline-main
            .byline-author
              = render partial: 'shared/icon', locals: { icon: 'avatar', padded: true }
              = link_to @article.author, @article.author.link, class: 'label label--link label--link--invert'
            = render partial: 'shared/icon', locals: { icon: 'clock', padded: true }
            %span.label.label--invert= @article.created_at_tag
          .byline-secondary
            %span.tsi.tss Last edited
            %span.label.label--invert= @article.updated_at_tag

      .g
        .g-b.g-b--m--2of3

          .markdown.mbm.js-tableBank
            = find_and_preserve do
              = markdown( @article.content || 'No content' )

          - if user_signed_in?
            .mbm
              = link_to 'Edit', edit_article_url( @article ), class: 'btn btn--a'

              - toggle_archived_label = !@article.archived? ? 'Archive' : 'Unarchive'
              = link_to toggle_archived_label, toggle_archived_article_url( @article ), class: 'btn btn--b', method: :put

              = link_to 'Delete', @article, class: 'btn btn--b', method: :delete

        %aside.g-b.g-b--m--1of3

          .dropdown.mbl.js-dropdown
            .card.card--xs.has-signal
              .js-dropdown-btn
                = @article.signal
                .split
                  .split-cell
                    - # TODO: Move conditional presentation to decorator
                    .label
                      - if @article.fresh?
                        Fresh
                      - if @article.stale?
                        Stale
                      - if @article.rotten?
                        Rotten
                      - unless @article.fresh? || @article.stale? || @article.rotten?
                        Normal
                  .split-cell.tcs.tsm
                    = render partial: 'shared/icon', locals: { icon: 'caretDown', middle: true }
            .dropdown-menu
              - unless @article.fresh?
                .dropdown-item
                  = link_to mark_fresh_article_url( @article ), method: :put, class: 'dropdown-item-link dropdown-item-link--xs has-signal' do
                    .signal.signal--fresh
                    %span.label Fresh
              - unless @article.rotten?
                .dropdown-item
                  = link_to report_rot_article_url( @article ), method: :put, class: 'dropdown-item-link dropdown-item-link--xs has-signal' do
                    .signal.signal--rotten
                    %span.label Rotten

          - toc = table_of_contents( @article.content || '' )
          - unless toc.empty?
            .mbl
              %h2.label.mbs Table of Contents
              .js-toc= toc

          .mbl
            %h2.label.mbs Subscribers
            - if @article.subscriptions.count > 0
              %ul.list.list--object
                = render partial: 'subscription', collection: @article.subscriptions.decorate
            - toggle_subscription_label = current_user.subscribed_to?( @article ) ? 'Unsubscribe' : 'Subscribe'
            = link_to toggle_subscription_label, toggle_subscription_article_url( @article ), class: 'btn btn--a', method: :put

          .mbl
            %h2.label.mbs Endorsements
            - if @article.endorsements.count > 0
              %ul.list.list--object
                = render partial: 'endorsement', collection: @article.endorsements.decorate
            - toggle_endorsement_label = current_user.endorsing?( @article ) ? 'Unendorse' : 'Endorse'
            = link_to toggle_endorsement_label, toggle_endorsement_article_url( @article ), class: 'btn btn--a', method: :put
