%h1= @article.title || "No title"
%p.author by #{mail_to @article.author.email, @article.author.name }

.markdown
  = markdown(@article.content || "No content")

%footer
  = render "tags", tags: @article.tags

  .timestamp
    - if @article.updated_at.present?
      Updated on
      = time_element @article.updated_at.in_time_zone
    - else
      Created on
      = time_element article.created_at.in_time_zone

= link_to "Edit Article", edit_article_url(@article), class: "btn-a"
= link_to "Delete Article", @article, class: "btn-c", method: :delete