- page_title @article.title

- if @article.archived?
  %p.bulletin.bulletin--warning This article has been archived. Please don't trust the information displayed here.
- if @article.rotten?
  %p.bulletin.bulletin--warning This article was reported as rotten #{@article.rot_reporter} on #{@article.rotted_at}. The information is partially or completely out-of-date.
- if @article.stale?
  %p.bulletin.bulletin--notice.tct This article has gone stale. It hasn't been updated in a while so the information may be slightly out-of-date.

- if @article.guide?
  .row.row--highlight.row--pattern
    .cell.well.well--l

      %h1.tci.tac= @article.title

%section.row
  %article.cell.well.well--l

    %header.mbl
      - unless @article.guide?
        = render 'tags/tags', tags: @article.tags

        %h1.tsl.ts--s--xl.ts--m--xxl= @article.title

      .byline
        .byline-main
          .byline-author
            = render partial: 'shared/icon', locals: { icon: 'avatar', padded: true }
            = link_to @article.author, @article.author.link, class: 'label label--link label--link--invert'
          = render partial: 'shared/icon', locals: { icon: 'clock', padded: true }
          %span.label.label--invert= @article.created_at_tag
        .byline-secondary
          - if @article.editor
            %span.dib.mrxs{ 'data-toggle' => 'tooltip', title: @article.editor.name }
              %span.mrxs.tsi.tsxs #{@article.editor.image_link(30)}
          %span.tsi.tsxs Last edited
          %span.label.label--invert= @article.updated_at_tag

    .g
      .g-b.g-b--m--2of3

        .markdown.bdrb.mbm.js-tableBank
          = find_and_preserve do
            = markdown( @article.content || 'No content' )

        %ul.list.list--inline.list--inline--xs.mbm
          %li.list-item
            = link_to 'Edit', edit_article_url( @article ), class: 'btn btn--a',
              data: { shortcut: 'e' }
          %li.list-item
            - toggle_archived_label = !@article.archived? ? 'Archive' : 'Unarchive'
            = link_to toggle_archived_label, toggle_archived_article_url( @article ), class: 'btn btn--b', data: { method: :put, confirm: "Are you sure?" }

          %li.list-item
            = link_to 'Delete', @article, class: 'btn btn--b', data: { method: :delete, confirm: "Are you sure?" }

      %aside.g-b.g-b--m--1of3

        .switch.mbl
          = link_to 'Fresh', mark_fresh_article_url( @article ), method: :put,
            class: "btn switch-btn switch-btn--success #{ 'is-active' if @article.fresh? }"
          = link_to 'Rotten', report_rot_article_url( @article ), method: :put,
            class: "btn switch-btn switch-btn--error #{ 'is-active' if @article.rotten? }"

        - toc = table_of_contents( @article.content || '' )
        - unless toc.empty?
          .mbl
            .bdrb.pbxs.mbs
              %h2.label Table of Contents
            .js-toc= toc

        .mbl
          .split.bdrb.mbs.pbxs
            .split-cell
              %h2.label Subscribers
            .split-cell
              - toggle_subscription_label = current_user.subscribed_to?( @article ) ? 'Unsubscribe' : 'Subscribe'
              = link_to toggle_subscription_label, toggle_subscription_article_url( @article ), class: 'tsxs', method: :put
          - if @article.subscriptions.count > 0
            %ul.list.list--object
              = render partial: 'subscription', collection: @article.subscriptions.decorate
          - else
            %p.mbf.tcs.tsi.tss Subscribe to receive updates about this article.

        .mbl
          .split.bdrb.mbs.pbxs
            .split-cell
              %h2.label Endorsements
            .split-cell
              - toggle_endorsement_label = current_user.endorsing?( @article ) ? 'Unendorse' : 'Endorse'
              = link_to toggle_endorsement_label, toggle_endorsement_article_url( @article ), class: 'tsxs', method: :put
          - if @article.endorsements.count > 0
            %ul.list.list--object
              = render partial: 'endorsement', collection: @article.endorsements.decorate
          - else
            %p.mbf.tcs.tsi.tss Endorse this article if you find it helpful.
