.g-b.g-b--s--1of2.g-b--m--1of3.mbm
  .bucket
    .bucket-media
      = author.image_link(80)
    .bucket-content
      = link_to author.name, author_path(author)
      %p.mbf.tss= author.shtick
      %p.mbf.tss= "#{author.articles.count + author.edits.count} contributions"
