%main.row
  .cell.well.well--l

    %h1 Authors
    .g
      .g-b.g-b--m--1of2
        .split.mbm
          .form.form--inline.split-item
            .split-cell.prm
              = form_tag authors_path, method: :get, remote: true, class: 'form js-search-form' do
                = text_field_tag :search, params[:search], placeholder: 'Search authors by name or shtick', class: 'js-search-input form-input'
            .split-cell
              = submit_tag 'Search', class: 'btn btn--a form-btn'

    .g.collection.collection--s--1of2.collection--m--1of3.collection--l--1of3.mbm.js-author-list
      = render partial: 'authors/author', collection: @authors

    = link_to 'New Author', new_author_path, class: 'btn btn--b'
