%h1 Authors
= form_tag authors_path, method: :get, remote: true, class: 'js-search-form' do
  = text_field_tag :search, params[:search], placeholder: "Search authors by name or shtick", class: 'js-search-input '
  = submit_tag "Search", class: "btn-a"

%ul.js-author-list
  = render partial: "authors/author", collection: @authors

= link_to "New Author", new_author_path
