%main.row
  .cell.cell--s.well.well--l

    .label.mbm Create a New Author
    .form.card.card--b
      = simple_form_for @author, url: authors_path do |f|

        .form-item
          = f.input :name, placeholder: 'Name',
            label_html: { class: 'form-label label' },
            input_html: { class: 'form-input' }

        .form-item
          = f.input :email, as: :email, placeholder: 'Email',
            label_html: { class: 'form-label label' },
            input_html: { class: 'form-input' }

        .form-item
          = f.input :avatar, as: :file,
            label_html: { class: 'form-label label' }

        = f.submit 'Create Author', class: 'btn btn--a form-btn'
