%h1 New Author

= simple_form_for @author, url: authors_path do |f|
  = f.input :name, label: false, placeholder: "Name"
  = f.input :email, as: :email, label: false, placeholder: "Email"
  = f.input :avatar, as: :file
  = f.submit "Create New Author", class: 'btn-a'
