%h1= @author.name
.author
  %aside= image_tag @author.image, class: "avatar"
%p= @author.email_tag 

%h2 Articles created
%ul
  - @author.articles.each do |article|
    %li= link_to article, article

/ %h2 Articles edited
/ %ul
/   - @author.articles.each do |article|
/     %li= article

= simple_form_for :author, url: author_path(@author), method: :patch do |f|
  = f.input :avatar, as: :file, required: false
  = f.submit "Upload Avatar"
