- middle = 'icn--middle' if middle
- padded = 'icn--padded' if padded
- klass ||= nil
- title ||= nil

- unless title.nil?
  %i{ class: "fa fa-#{icon} #{middle} #{padded} #{klass}", "aria-hidden" => true }
  %span.srt= title
- else
  %i{ class: "fa fa-#{icon} #{middle} #{padded} #{klass}", "aria-hidden" => true }
