- middle = 'icn--middle' if middle
- klass ||= nil
- title ||= nil

- unless title.nil?
  %i.icn{ class: "icn--#{icon} #{middle} #{klass}", 'aria-hidden' => true }
  %span.srt= title
- else
  %i.icn{ class: "icn--#{icon} #{middle} #{klass}" }
