- page_title @article.title

%main.row
  .cell.well.well--l

    %article
      %header.mbs
        %h1.tsl.ts--s--xl.ts--m--xxl= @article.title
        .byline
          .byline-main
            .byline-author
              = render partial: 'shared/icon', locals: { icon: 'avatar', padded: true }
              = link_to @article.author, @article.author.link, class: 'label label--link label--link--invert'
            = render partial: 'shared/icon', locals: { icon: 'clock', padded: true }
            %span.label.label--invert= @article.created_at_tag
          .byline-secondary
            %span.tsi.tss Last edited
            %span.label.label--invert= @article.updated_at_tag

      .g
        %aside.g-b.g-b--m--1of6.mbm.pt--m--l
          = render "tags/tags", tags: @article.tags

        .g-b.g-b--m--4of6
          .card.markdown.mbm.pl--l--m.pr--l--m.ptl
            = find_and_preserve do
              = markdown(@diff || "No content")

        %aside.g-b.g-b--m--1of6.pt--m--l
