- unless guides.empty?
  - guides.each do |guide|
    .card.card--b.mbm
      - if guide.content.size > 100
        .split.mbs
          .split-item
            .split-cell
              %h1.h2.dib= guide.title.titleize
            .split-cell
              = link_to "View Guide", article_path(guide), class: 'tsm'
        .tsm.js-guides
          = find_and_preserve do
            = markdown(guide.content || "No content")
      - else
        %h1.h2.dib= guide.title.titleize
