- unless guides.empty?
  .card.card--b
    %ul.list.js-guides
      - guides.each do |guide|
        - if guide.content.size > 100
          .mbm
            .split
              .split-item
                .split-cell
                  %h1.h2.dib= guide.title.titleize
                .split-cell
                  = link_to "View Guide", article_path(guide), class: 'tsm'
            .tsm
              = find_and_preserve do
                = markdown(guide.content || "No content")
        - else
          .mbs
            %h1.h2.dib= guide.title.titleize
