%main.row
  .cell.well.well--l

    - if user_signed_in?

      .form.form--inline
        = form_tag articles_path, method: :get, remote: true, class: 'js-search-form' do
          = search_field_tag :search, params[:search],
            class: 'form-input js-search-input',
            placeholder: 'Search articles by keyword',
            autofocus: true

      %ul.list.list--xs.js-article-list.dn
        = render @articles

      .mbm
        = render 'guides/guides', guides: @articles

    - else

      %h1
        = link_to "Please Log in to Continue", login_path, data: { no_turbolink: true }
