%main.row
  .cell.well.well--l

    - if user_signed_in?

      .js-articleSearch

        .form.form--inline
          = form_tag articles_path, method: :get, remote: true, class: 'js-articleSearch-form' do
            = search_field_tag :search, params[:search],
              class: 'form-input js-articleSearch-input',
              placeholder: 'Search articles by keyword',
              autofocus: true

        %ul.list.list--xs.js-articleSearch-results.dn.mbm
          = render @articles

      .mbm.js-guideList
        = render 'guides/guides', guides: @articles

    - else

      %h1
        = link_to 'Please Log in to Continue', login_path
