%header.header
  .cell
    .header-row
      %nav.split
        .split-cell

          %ul.list.list--inline.list--inline--f.list--inline--flex
            %li.list-item
              = link_to root_url, class: 'header-button', data: { shortcut: 1 } do
                = image_tag( ENV['ORIENTATION_LOGO'], height: 40, width: 40, class: 'vam' )
            %li.list-item
              = link_to articles_url, class: 'header-button', data: { shortcut: 2 } do
                %span.tss Articles
            %li.list-item
              = link_to tags_url, class: 'header-button', data: { shortcut: 3 } do
                %span.tss Tags
            %li.list-item.dn.di--s
              = link_to authors_url, class: 'header-button', data: { shortcut: 4 } do
                %span.tss Authors

        .split-cell.dn.db--s

          - if current_user.present?
            = link_to 'New Article', new_article_url, class: 'button button--a form-button mrs',
              data: { shortcut: 'n' }

            .dropdown.dropdown--e.dropdown--f.js-dropdown.dib
              .header-button.js-dropdown-button
                = image_tag current_user.image, height: 40, width: 40, class: 'thumb dib vam'
                = render partial: 'shared/icon', locals: { icon: 'caretDown', middle: true, klass: 'tcs' }
              %ul.dropdown-menu
                %li.dropdown-item
                  = link_to current_user.link, class: 'dropdown-item-link',
                    data: { shortcut: 'p' } do
                    %span.tss My Profile
                %li.dropdown-item
                  = link_to sign_out_path, class: 'dropdown-item-link' do
                    %span.tss Log Out

          - else
            = link_to 'Log In', sign_in_path
