!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %title Orientation
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{ class: body_class }
    %header.row.row--a.ov.pbm.ptm{ 'data-ui-element' => 'header' }
      .cell
        %nav.split
          .split-item
            .split-cell
              %ul.list.list--inline.tsm
                %li.list-item
                  = link_to image_tag("brackets_banner_logo-blue.svg", height: 40, width: 40, class: 'vam'), root_url
                %li.list-item= link_to "Tags", tags_url
                %li.list-item= link_to "Authors", authors_url
            .split-cell
              - if current_user
                .dropdown.dropdown--e.js-dropdown
                  .js-dropdown-btn
                    = image_tag current_user.image, class: 'thumb dib vam'
                    = render partial: 'shared/icon', locals: { icon: 'caretDown', middle: true, klass: 'tcs' }
                  %ul.dropdown-menu
                    %li.dropdown-item
                      = current_user.name= link_to current_user.name, current_user.link, class: 'dropdown-item-link'
                    %li.dropdown-item
                      = link_to "Log Out", logout_path, title: current_user.email, class: 'dropdown-item-link'
              - else
                = link_to "Log In", login_path, data: { no_turbolink: true }

    - if flash[:error]
      .bulletin.bulletin--warning= flash[:error]
    - if flash[:notice]
      .bulletin= flash[:notice]

    = yield
