!!!
%html
  %head
    %title Orientation
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: body_class }
    %nav
      %ul
        %li= link_to "Home", root_url
    = yield