!!! 5
%html{ lang: 'en' }
  %head

    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    %title= content_for(:page_title) || @page_title || 'Orientation'

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false
    = favicon_link_tag ENV['ORIENTATION_FAVICON']
    = csrf_meta_tags
    = action_cable_meta_tag

  %body{ class: body_class }

    = render 'layouts/header'

    - if flash[:error]
      .bulletin.bulletin--warning= flash[:error]
    - if flash[:notice]
      .bulletin= flash[:notice]

    %main= yield

    = javascript_include_tag 'vendor', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
