!!!
%html
  %head
    %title Orientation
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: body_class }
    %nav
      %ul
        %li.logo
          = image_tag "brackets_banner_logo-white.svg", height: 30
          = link_to "Orientation", root_url
        %li= link_to "Tags", tags_url
        %li= link_to "Authors", authors_url
        %li= link_to "New Article", new_article_url
        - if current_user or Rails.env.development?
          %li.auth #{current_user.name} | #{link_to "Log Out", logout_path, title: current_user.email}
        - else
          %li.auth= link_to "Log In", login_path, data: { no_turbolink: true }
    .container
      - if flash[:error]
        .error= flash[:error]
      - if flash[:notice]
        .notice= flash[:notice]
      = yield